<section class="default-content-page">

    <p>HTTP: <span>404</span></p>

    <code><span>this_page</span>.<em>not_found</em> = true;</code>
    <code>
        <span>if</span> (<b>you_spelt_it_wrong</b>)
            &#123;
                <span>try_again()</span>;
            &#125;
        <br><span>else if (<b>we_screwed_up</b>)</span>
        &#123;
            <em>console.warn</em>(<i>"We're really sorry about that..."</i>);
        &#125;
    </code>
    <code>
        &#60;<b>button</b>&nbsp;<span>class</span>="btn btn-outline-info" <b>onclick</b>="<span>window</span>.<em>location</em>='/';" <b>title</b>=<i>"Take me Home!"</i>&#62;
        <br>&#60;<b>span</b>&nbsp;<span>class</span>="arrow-left"&#62;back to home&#60;<b>/span</b>&#62;
        <br>&#60;<b>/button</b>&#62;
    </code>

    <p class="text-center">
        <button class="btn btn-sm btn-outline-info mt-4" onclick="javascript: window.location='/';" title="Take me Home!">
            <i class="fa fa-long-arrow-left mr-3" aria-hidden="true"></i>
            <span style="font-family: 'Lato', Calibri, Arial, sans-serif">back to home</span>
        </button>
    </p>

</section>