<main *ngIf="customObj3D">

    <section *ngIf="customObj3D.position" class="new-object3D framed-border outline-shadow position-params">
        <app-settings-move-card [movementTypeTemplate]="'position'"
            [obj3Dtype]="newObj3Dtype"
            [obj3Dparams]="customObj3D"
            (sendObj3DCoord)="newObj3DCoord($event)"
        ></app-settings-move-card>
    </section>

    <section *ngIf="customObj3D.rotation" class="new-object3D framed-border outline-shadow rotation-params">
        <app-settings-move-card [movementTypeTemplate]="'rotation'"
            [obj3Dtype]="newObj3Dtype"
            [obj3Dparams]="customObj3D"
            (sendObj3DCoord)="newObj3DRotationCoord($event)"
        ></app-settings-move-card>

    </section>

    <section *ngIf="customObj3D.emittance as emittance" class="new-object3D framed-border outline-shadow emittance-params">
            
        <h5 class="title text-truncate width-88">{{ customObj3D.name || 'New 3D object (no mame)' }}  emittance</h5>

        <ng3d-input-block
            inputLabel="Color"
            inputType="color"
            aidText="... pick a color."
            [initValue]="emittance.color ? '#' + emittance.color.toString(16) : '#000000'"
            (sendInputBack)="newObj3DEmittanceColor($event)"
        ></ng3d-input-block>
        
        <ng3d-input-block
            inputLabel="Intensity"
            [initValue]="emittance.intensity"
            (sendInputBack)="newObj3DEmittanceIntensity($event)"
        ></ng3d-input-block>
        
        <ng3d-input-block
            inputLabel="Distance"
            [initValue]="emittance.distance"
            (sendInputBack)="newObj3DEmittanceDistance($event)"
        ></ng3d-input-block>

    </section>

    <hr>

    <button class="btn btn-sm btn-outline-danger" (click)="addNewCustomObj3DToTheStage()" title="Add this 3D Object to the current Scene!">
        Add new 3D Object
        <i *ngIf="newObj3Dtype.param === 'camera'" class="fa fa-video-camera ml-3" aria-hidden="true"></i>
        <i *ngIf="newObj3Dtype.param === 'pol'" class="fa fa-lightbulb-o ml-3" aria-hidden="true"></i>
        <i *ngIf="newObj3Dtype.param === 'actor'" class="fa fa-code ml-3" aria-hidden="true"></i>
    </button>

</main>