// =======================================================
// Change/Add BOOTSTRAP general utilities to App's style guidelines
// =======================================================
.text-ng3d-primary { color: var(--primary); }       // We also need/use BS4 'text-primary'
.text-ng3d-secondary { color: var(--secondary); }

// =======================================================
// Change BOOTSTRAP color BUTTONS to App's style guidelines
// =======================================================

// Do a 'btn-outline-secundary', but with our colors => you have to beat Bootstrap! ;-)
.btn-outline-secondary { border-color: $secondary; }
.btn-outline-secondary:disabled,
.btn-outline-secondary.disabled { opacity: 0.5; }
.btn-outline-secondary:not(:disabled):not(.disabled).active,
.btn-outline-secondary:not(:disabled):not(.disabled):active,
.btn-outline-secondary:not(:disabled):not(.disabled):hover {
    background-color: $secondary;
    border-color: $secondary;
}
.btn-outline-secondary.has-changed,
.btn-outline-secondary:not(:disabled):not(.disabled):focus {
    background-color: $secondary-transparent-50percent;
    color: $secondary;
    border-style: inset;
}

// And a 'btn-outline-danger', with our $primary:
.btn-outline-danger { border-color: $primary; }
.btn-outline-danger:disabled,
.btn-outline-danger.disabled { opacity: 0.5; }
.btn-outline-danger:not(:disabled):not(.disabled).active,
.btn-outline-danger:not(:disabled):not(.disabled):active,
.btn-outline-danger:not(:disabled):not(.disabled):hover {
    background-color: $primary;
    border-color: $primary;
}
.btn-outline-danger.has-changed,
.btn-outline-danger:not(:disabled):not(.disabled):focus {
    background-color: $primary-transparent-50percent;
    color: $primary;
    border-style: inset;
}
