// MIND YOU:
// On < app-component-menu /> we have 2 very similar, but different, button types:
// the ones to control the viewport heights (which height goes to '.visualizer-3d'/'.tab-content') that are on TOP
// and the ones right bellow these ones, that link to each Tab's code (HTM, TS, API).
// ADDING to that, remember the TOP ones are designed on a component (<ng3d-viewport-controler-menu />) in our library, so they can be used several times, on the HTML of our DEMO App.
// So BEAWARE when CHNAGING CSS on "ones" - you might be changing the "others"!
//
// HINT:
// just use the NEXT SCSS vars and keep EXTENDing them, if needed, HERE and NOT on component's SCSS files, and you'll be OK...

%component-menu__button {
    max-width: 150px;
    // margin: 0.25rem;
    margin-bottom: 0.25rem;

    font-weight: 600;

    // In order not to be covered, particularly on small viewports (mobiles),
    // z-index of these 'close-to-top' buttons (on mobiles) must be AT LEAST the same as '.logo'
    z-index: calc(#{$component-3d-canvas-z-index} + 2);

    i.fa {
        color: $primary;
        font-size: large;
    }

    &.active,
    &:hover {
        i.fa { color: white; }
    }
    &:hover { border-color: var(--body-main-bg-color); }
}

%component-menu__viewport-control-button {
    @extend %component-menu__button;

    i.fa { font-size: smaller; }

    border-color: transparent;
    margin-bottom: 0;
}