// MIND YOU:
// "-webkit-scrollbar" is NOT supported by Firefox or IE and Edge - they will render natively, as the world always have known them
// Lots of pre-done CSS options in here: https://codepen.io/akinjide/pen/BpggrZ
@mixin scrollbars($size, $foreground-color, $background-color: mix($foreground-color, white, 50%)) {

    /* width (native is 15px! )*/
    ::-webkit-scrollbar {
        width: 5px; // $size;
        height: 5px; // $size;
    }

    /* Track */
    ::-webkit-scrollbar-track {
        background: transparent; //$background-color;
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        // border-radius: 10px;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: $foreground-color;
        cursor: grab;
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: $primary;
        border-radius: 10px;
    }

    // For Internet Explorer
    body {
        scrollbar-face-color: $foreground-color;
        scrollbar-track-color: $background-color;
    }
}

// ===================================================================================
// Next are blocks of styling
// used @ ANGULAR LIBRARY 'monitor-debug' component
// (will be made of other blocks/@mixins, coded next)
// ===================================================================================

// 1/2
// That's our SONY 5k OLED Monitor
@mixin monitor-screen-printer {

    section.monitor-screen-printer {
        width: 100%;
        margin: 0;
    
        pre {
    
            font-family: "Lucida Console", Monaco, monospace;
            font-size: 0.7rem;
            font-weight: 300;
        
            line-height: 1.2;
            overflow-y: auto; overflow-x: hidden;
            margin: 0;
        
            // Smooth height change effect:
            transition: max-height 1s;  
    
            // min-height: calc(43vh);
            // NOPES!
            // <pre> has alrady overflow-y AND it's manipulated by JS.
            // SO lets fix the height, and NOT min-height! NOPES! Let height be always 100% of the container.... to a max-height value
            height: 100%;
            min-height: 43vh;
            // "height: 0" not work with css transitions => impose ANY max-height !
            max-height: $pre-height; // 7rem;
            // When JS increaseas this value => we have a smooth growing of this <pre />
            // Obviously that can not do it infinitely!
            //     Check each parent container max-height, on each of the components that have monitoring.
            //     Reaching that point, we'll have y scrollbars @ <pre />
            
        
            // Control's bar height, at the Sony wide screen monitor's bottom: 
            padding-bottom: 1.5rem;
        
            border: 3px double $secondary;
            color: white;
            padding: 0.5rem;
            // Litle bit more of bottom margin so final content (scrolled) doesn't get under 'section.monitor-controls'
            padding-bottom: 2rem;
    
            background-color: var(--body-color);
            transition: background-color 3s; transition-delay: 0.4s;
            &.power-off {
                background-color: rgba(0, 0, 0, 0.7);
                div.pre-div-content {
                    &:last-of-type {
                        &::after { height: 0; margin: 0; }
                    }
                }
            }
    
            // ====================================================
            // .. and inside/content the styling is:
            // ====================================================
            // Special class div to print Logged Events, 'msg' property,
            // with some extra HTML tags 'underneath', to print 'data', a beautified JSON:
            div.pre-div-content {
                color: limegreen;
                line-height: 1.4rem; // 1rem;
                text-indent: 1rem;
                // The trick - not on JSON data (all format get's lost!)
                white-space: normal;
    
                // When you can console.log the evt line's 3D object, a red "mark" will be placed on Logged Event line's Msg.
                // Inherits most CSS props from 'mark' selector @ '../switch/switch.component.scss'
                // Here we twist them to have a kind of a xxx-smal red LED:
                mark {
                    position: relative; // <= to stay inline with the Event Msg
                    display: inline-flex;
                    background-color: $primary;
                    border: 0; /* => */ padding: 0.25rem;
                    &.is-off { background-color: grey;}
                }
    
                // On each logged event line, and as tiny and non-intrusive as possible, the triggers to (next) 'data' object viewer
                button.obj-viewer-trigger {
                    padding: 0;
                    padding-left: 0.25rem;
                    padding-right: 0.25rem;
    
                    font-size: inherit;
                    // color: inherit; 
                    border-color: $secondary-transparent-50percent;   
                }

                // Our initial hidden (and empty) slide down panel, below each logged event 'msg' line, where previous button is.
                // On each button user click, contents will be filled with our logged event 'data' beautified object's JSON representation
                @include logged-event-data-viewer;
    
                // Logged Event lines, inbetween custom separators:
                .separator hr {
                    // Reset BS4 styling:
                    // height: 1px;
                    // border-top: 1px solid rgba(0,0,0,.1); 
                    // border: 1px solid red;
                    background: $secondary; // greenyellow;
                    // margin-bottom: 1rem;
                    // margin: 1rem 0rem
        
                    // --------------------------------------------
                    // Supposedely is Not used anymore... make it flashy, just in case !
                    // --------------------------------------------
                    &.per-line {
                        background: red;
                        margin: 2rem 0;
                        margin-bottom: 3rem;
                    }
                    // --------------------------------------------

                    &.fake-separator {
                        display: none;
                    }

                }

                // Last like blink type writter effect:
                &:last-of-type {
                    //Ensures the content is not revealed until the animation
                    overflow: hidden;
    
                    // white-space: nowrap; // <= Keeps the content on a SINGLE line... would we want it?
                    
                    // Gives that scrolling effect as the typing happens
                    margin: 0 auto;
                     // Adjust as needed...
                    letter-spacing: .05rem; // .15em;
                    font-weight: 600;
    
                    &::after {
                        content: ' ';
                        display: block;
                        bottom: 0; left: 0;
    
                        height: 16px;
                        line-height: 16px;
                        margin-bottom: calc(2 * 16px);    // To get one last line "extra", completely "blank" - FireFox has some issues, on here...
    
                        margin-left: 1rem;
                        border-left: .15em solid orange;
                        animation:  typing 1.0s steps(40, end), blink-caret .75s step-end infinite;
                        @keyframes typing {
                            from { width: 0 }
                            to { width: 100% }
                        }
                        @keyframes blink-caret {
                            from, to { border-color: transparent }
                            50% { border-color: orange; }
                        }
                    }
    
                }
            }

            // ====================================================
    
        }
    }
}

// 2/2
// ... and the Monitor's bottom bar of controls
// (buttons/switchs) and the brand logo
@mixin monitor-control-buttons-bar {

    section.monitor-controls {
        background-color: rgba(0, 0, 0, 0.7); // $secondary-transparent-50percent; // $primary-transparent-50percent; // var(--jpf-light-info); 
    
        position: absolute;
        bottom: 3px;
        // right: 0; <= done on width calculations.
        width: calc(100% - 6px);
        margin-left: 3px;
        // height: 1.5rem; <= auto, depending on content.
    
        display: flex;
        align-items: center;
        justify-content: space-between;
    
        // Before all:
        @include monitor-control-buttons-bar-common-button-control;

        // Specifics:    
        .sony-logo {
            font-family: 'Domine', serif;
            color: white;
        
            font-size: large;
            // transform: scaleY(0.7);  <= use below 'transform', for the centerd absolute position
            font-weight: bold;
            letter-spacing: 2px;
    
            // Get out of flex - we need absolute centering, regarding other control bar gadgets/buttons
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%) scaleY(0.7);
        }
    
        .delete-content-wrapper {
            .button-control-text { color: limegreen;}
        }
    }
    
}

// ======================================================================================================================================================================

// ===================================================================================
// Next are the inner components that do
// the upper outer big blocks of styling,
// used @ ANGULAR LIBRARY 'monitor-debug' component
// ===================================================================================

// INNER of 1/2:
@mixin logged-event-data-viewer {

    .obj-viewer-container {
        background-color: inherit;
        margin-left: 2.5rem;

        pre {
            background-color: rgba(255, 255, 255, 0.03);
            border: 1px solid $secondary;
            padding: 0.5rem;
            // border-radius: 0.25rem;

            margin: 0.25rem 0 1rem 1rem;
            text-indent: 0;

            height: auto;
            min-height: auto;
            max-height: fit-content;

            overflow-x: auto;

            @include logged-event-data-JSON-beautifier;
        }
    }
}

@mixin logged-event-data-JSON-beautifier {

    .key { color: #17a2b8; line-height: 1rem;}
    .string { color: darkseagreen; }
    .number { color: darkorange; }
    .boolean-true {color: greenyellow;}
    .boolean-false {color: red;}
    .null{ color: white; }

    .comm-in,
    .comm-out{
        vertical-align: middle;
        font-size: large;
        margin-right: .5rem;
    }
    .comm-in { color: red;}
    .comm-out { color: white;}

    @include logged-event-data-JSON-beautifier-console-log-it-radio-buttons-pair
}

@mixin logged-event-data-JSON-beautifier-console-log-it-radio-buttons-pair {
    // Stolen from https://codepen.io/aaroniker/pen/ZEYoxEY
    // Adapted by myself to this most cool SANYO 5k OLED cute thing! ;-)

    span.console-log-it-wrapper{
        display: inline-flex;
        justify-content: space-between;
        vertical-align: middle;
        
        width: 8rem;
        margin-left: -15px;
        // Get everything tinner - our monitor lines are pretty small...
        transform: scale(0.7);

        input[type='checkbox'].console-log-it,
        input[type='radio'].console-log-it {
            --active: greenyellow; // inherit; // #275EFE;

            // --active-inner: #fff;
            --active-inner-on: var(--primary);
            --active-inner-off: var(--primary-transparent-80percent);

            --focus: 2px rgba(39, 94, 254, .3);
            --border: var(--secondary);        // #BBC1E1;
            --border-hover: white;           // #275EFE;
            --background: transparent;         // #fff;
            --disabled: #F6F8FF;
            --disabled-inner: #E1E6F9;
            -webkit-appearance: none;
            -moz-appearance: none;
            height: 21px;
            outline: none;
            display: inline-block;
            vertical-align: top;
            position: relative;
            margin: 0;
            cursor: pointer;
            border: 1px solid var(--bc, var(--border));
            background: var(--b, var(--background));
            transition: background .3s, border-color .3s, box-shadow .2s;

            &:after {
                content: '';
                display: block;
                left: 0;
                top: 0;
                position: absolute;
                transition: transform var(--d-t, .3s) var(--d-t-e, ease), opacity var(--d-o, .2s);
            }

            &:checked {
                // --b: var(--active);
                --b: var(--active-inner-off);

                --bc: var(--active);
                --d-o: .3s;
                --d-t: .6s;
                --d-t-e: cubic-bezier(.2, .85, .32, 1.2);

                &+label { opacity: 1; }
            }

            &:disabled {
                --b: var(--disabled);
                cursor: not-allowed;
                opacity: .9;

                &:checked {
                    --b: var(--disabled-inner);
                    --bc: var(--border);
                }

                &+label {
                    cursor: not-allowed;
                }
            }

            &:hover {
                &:not(:checked) {
                    &:not(:disabled) {
                        --bc: var(--border-hover);
                    }
                }
            }

            &:focus {
                box-shadow: 0 0 0 var(--focus);
            }

            &:not(.switch) {
                width: 21px;

                &:after {
                    opacity: var(--o, 0);
                }

                &:checked {
                    --o: 1;
                }
            }

            &+label {
                cursor: pointer;
                font-size: 14px;
                // line-height: 21px;
                // display: inline-block;
                // vertical-align: top;
                margin-top: 3px;
                margin-left: -20px;
                // Get it out of the parent's flex ("justify-content: space-between;")
                // flex-basis: 100%;
                opacity: 0.4;
            }
        }
        /*
        input[type='checkbox'].console-log-it {
            &:not(.switch) {
                border-radius: 7px;

                &:after {
                    width: 5px;
                    height: 9px;
                    border: 2px solid var(--active-inner);
                    border-top: 0;
                    border-left: 0;
                    left: 7px;
                    top: 4px;
                    transform: rotate(var(--r, 20deg));
                }

                &:checked {
                    --r: 43deg;
                }
            }

            &.switch {
                width: 38px;
                border-radius: 11px;

                &:after {
                    left: 2px;
                    top: 2px;
                    border-radius: 50%;
                    width: 15px;
                    height: 15px;
                    background: var(--ab, var(--border));
                    transform: translateX(var(--x, 0));
                }

                &:checked {
                    --ab: var(--active-inner);
                    --x: 17px;
                }

                &:disabled {
                    &:not(:checked) {
                        &:after {
                            opacity: .6;
                        }
                    }
                }
            }
        }
        */
        input[type='radio'].console-log-it {
            border-radius: 50%;

            &:after {
                width: 19px;
                height: 19px;
                border-radius: 50%;
                // background: var(--active-inner);
                opacity: 0;
                transform: scale(var(--s, .7));
            }

            &:checked {
                // Multiplying factor for ':after' transform scale
                // (coded as .7, which is almost cool, for the size we're already reducing everything - @ 'span.console-log-it-wrapper'):
                // --s: .5;
                --s: 0.6;   // 1;
            }

            &.when-on {
                &:after { background: var(--active-inner-on); }
            }
            &.when-off{
                &:after { background: var(--active-inner-off); }
            }
        }
    }
}


// INNER of 2/2:
@mixin monitor-control-buttons-bar-common-button-control {

    .button-control {
        // Align everything inside:
        display: flex;
        align-items: center;
        justify-content: space-between;    

        color: var(--body-main-bg-color);

        opacity: 0.6;
        transition: opacity 500ms;

        z-index: 1;
        cursor: pointer;

        &.delete {
            color: greenyellow;
            &.empty-bin-disabled {
                pointer-events: none;
                cursor: not-allowed;
            }
        }

        &:hover { opacity: 1 !important; }

        .text-led-container { display: flex; align-items: center; }

    } 
}