@import '../../../assets/scss/variables';

$this-padding: 1rem;

#options {
    z-index: calc(#{$component-3d-canvas-z-index} + 2);
    position: absolute;
    left: calc(#{$this-padding} + #{$general-padding});
    bottom: calc(#{$this-padding} + #{$general-padding});
    
    color: black;

    p {
        margin-bottom: 0;
        span {
            border-bottom: 1px dotted;
            // background-color: $secondary;
            // padding: 0 0.25rem;
            color: $primary;
            font-weight: 500;
        }
    }
}

#staakLogo {
    z-index: calc(#{$component-3d-canvas-z-index} + 2);
    position: absolute;
    right: calc(#{$this-padding} + #{$general-padding});
    bottom: calc(#{$this-padding} + #{$general-padding});

    width: 4vw;
    max-width: 100px;
    min-width: 80px;
}

#staakLogo svg {
    width: 100%;
    display: block;
}

#staakLogo svg path {
    fill: $primary;
    -webkit-transition: fill 0.5s ease-in-out;
    transition: fill 0.5s ease-in-out;
}