@import '../../../scss/variables';

section.buttons-container {
    max-width: 150px;
    // Like a button - that has 3 buttons inside:
    border: 1px solid $secondary;
    border-radius: .2rem;

    display: flex;
    justify-content: space-between;
    align-items: center;

    button { @extend %component-menu__viewport-control-button; }
}

@media(max-width: 600px) {

    section.buttons-container {
        border: none;
        button {
            margin: 0 0.25rem;
            border-color: $primary;
            background-color: var(--body-main-bg-color);
            &:hover { background-color: $primary; }
            i.fa { font-size: x-small; }
        }
    }
}