<section class="buttons-container">

    <button class="btn btn-sm btn-outline-danger" data-function="maximize" [class.active]="btnActive===0" title="Maximize 3D Visualizer"
        (click)="maximize.emit(); btnActive=0; setViewportSizeBtnCookie('maximize');"
    ><i class="fa fa-window-maximize" aria-hidden="true"></i></button>
    
    <button class="btn btn-sm btn-outline-danger" data-function="restore" [class.active]="btnActive===1" title="Restore 3D Visualizer to normal size"
        (click)="restore.emit(); btnActive=1; setViewportSizeBtnCookie('restore');"
    ><i class="fa fa-undo" aria-hidden="true"></i></button>
    
    <button class="btn btn-sm btn-outline-danger" data-function="halfHeight" [class.active]="btnActive===2" title="3D Visualizer to 50%"
        (click)="halfHeight.emit(); btnActive=2; setViewportSizeBtnCookie('halfHeight');" 
    ><i class="fa fa-window-restore" aria-hidden="true"></i></button>
    
    <button class="btn btn-sm btn-outline-danger" data-function="minimize" [class.active]="btnActive===3" title="Minimize 3D Visualizer"
        (click)="minimize.emit(); btnActive=3; setViewportSizeBtnCookie('minimize');">
        <i class="fa fa-window-minimize" aria-hidden="true"></i>
    </button>

</section>
