<main *ngIf="actor3DParams" >

    <section *ngIf="actor3DParams.position" class="object3D-actor framed-border outline-shadow">

        <app-settings-move-card [movementTypeTemplate]="'position'"
            [obj3Dtype]="{ param: 'actor', idx: 0 }"
            [obj3Dparams]="actor3DParams"

            (sendObj3DCoord)="sendActorNewCoord.emit($event)"

            (resetToInitValues)="resetToInitValues.emit($event)"
        ></app-settings-move-card>
    </section>

    <section *ngIf="actor3DParams.rotation" class="object3D-actor framed-border outline-shadow">
        <app-settings-move-card [movementTypeTemplate]="'rotation'"
            [obj3Dtype]="{ param: 'actor', idx: 0 }"
            [obj3Dparams]="actor3DParams"

            (sendObj3DCoord)="sendActorNewRotationCoord.emit($event)"

            (resetToInitValues)="resetToInitValues.emit($event)"
        ></app-settings-move-card>

    </section>
</main>