@import '../../../../assets/scss/variables';

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 100%;
    align-items: center;

    section {
        // Center vertically, inside section content (the params Inputs + Led + Label)
        display: flex;
        flex-flow: column;
        // justify-content: space-evenly;   // Induces tiny des-alignements vertically... worth it...? Having cards with less/more lines/params...?

        // width: 100%;
        // max-width: 26rem;
        // min-width: 21rem;
        width: 28rem;
        // height: auto;
        height: 9rem;

        overflow: auto;

        padding: calc(0.5 * #{$general-padding}) #{$general-padding} calc(0.75 * #{$general-padding}) #{$general-padding};
        // background-color: var(--body-main-bg-color);
        outline: none;

        margin-right: calc(3 * #{$general-padding} );
        margin-top: calc(0.5 * #{$general-padding});
        margin-bottom: calc(0.5 * #{$general-padding});

        // ?!?!?!? Sure...?
        // transform: scale(0.8);

        &.horizontal-spread {
            width: 100%; max-width: 65rem;
            flex-flow: wrap;
            justify-content: space-between;

            height: auto;
            // As, mainly, we'll have a "short" card, with one or 2 simple lines, we won't need an "extra" padding on bottom.
            // On the other hand, top padding should compensate the extra top space given by even vertical distribution of the "other" flex cards:
            padding: calc(0.75 * #{$general-padding}) #{$general-padding} calc(0.5 * #{$general-padding}) #{$general-padding};
            // As so, we redefine "space" around the eventual existing absolute positioning button, in particular at bottom, avoiding vert scroll bar:
            button {
                margin: calc(0.5 * #{$general-padding}) #{$general-padding} calc(0 * #{$general-padding}) #{$general-padding};
                font-size: inherit;
            }
        }

        // Next ones are <section /> params INSIDE previous '.horizontal-spread' - they consist into the <new-3d-object-form /> contents:
        &.new-object3D {
            margin-right: $general-padding;
        }

        .title {
            color: $primary;
            white-space: nowrap;
        }

        .width-88 { width: 88%; }

        position: relative;
        button {
            position: absolute;
            top: 0; right: 0;
            margin: calc(0.5 * #{$general-padding}) #{$general-padding} calc(0.75 * #{$general-padding}) #{$general-padding};

            border: 1px solid transparent;
            i.fa { font-weight: 900; }
        }

        select {
            // <ng3d-switch-button /> style:
            // border-radius: 20px;
            // border: 2px solid rgba(176, 162, 136, 0.5);
            //
            // Or
            // <ng3d-input-block /> style:
            border: 2px solid rgb(255, 255, 255);
            border-bottom: 1px solid #d2c5af;
    
            height: 24px;
        }
    }
}


@media(max-width: 600px) {

    section {
        padding: calc(0.5 * #{$general-padding});
        height: auto !important;

        div.add-title {
            // BS4 '.text-truncate' class:
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        &.new-object3D {
            margin-right: 0 !important;
        }

    }

}