.led {
    margin: 0 auto;
    width: 15px; height: 15px;
    border-radius: 50%;

    &.red {
        background-color: #F00;
        box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #441313 0 -1px 9px, rgba(255, 0, 0, 0.5) 0 2px 12px;
    }

    &.green {
        background-color: #ABFF00;
        box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #304701 0 -1px 9px, #89FF00 0 2px 12px;
    }

    &.yellow {
        background-color: #FF0;
        box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #808002 0 -1px 9px, #FF0 0 2px 12px;
    }

    &.blue {
        background-color: #24E0FF;
        box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #006 0 -1px 9px, #3F8CFF 0 2px 14px;
    }

    &.x-small { width: 5px; height: 5px; }
    &.small { width: 10px; height: 10px; }
    &.regular { width: 15px; height: 15px; }
}