// They always forget this one:
.btn.disabled, .btn:disabled,
input.disabled, input:disabled { cursor: not-allowed; }

// Getting bloody OUTLINEs out of the way!
*:focus,
.btn:active, .btn:focus, .btn:active:focus, .btn.active:focus { outline: 0 !important; box-shadow: none !important;}
/* Bug @ FF, on select inputs: https://stackoverflow.com/a/19451423/2816279*/
select:-moz-focusring {
	color: transparent !important;
	text-shadow: 0 0 0 #000;
	transition: color 0ms;
}


// ================================================
// Handy HTML tags styled to App's style guidelines
// ================================================

hr { background: $secondary; width: 100%; }

dl {
    text-align: justify;
    dt {
        display: inline-block;
        margin-left: calc(3 * #{$general-padding});
    }
    dd {
        display: inline;
        padding-left: calc(0.75 * #{$general-padding});
    }
}

.framed-border {
    border: 1px solid var(--secondary-lighter);
    border-radius: 0.25rem;
}


// ==============================================
//          3D SHADOWs effect
// ==============================================

// for imgs (transparencies allowed!):
.strong-shadow{
	-webkit-filter: drop-shadow(5px 5px 5px var(--body-color));
	filter: drop-shadow(5px 5px 5px var(--body-color));  
}
// without changing box space (no bordering):
.outline-shadow {
    outline-offset: -1px;
    outline: 1px solid var(--secondary);
    box-shadow: 5px 13px 7px -7px var(--secondary);

    // &.light-top { box-shadow: 5px 13px 7px -7px var(--secondary); }
    &.light-centered { box-shadow: 1px 11px 31px -12px var(--secondary) }
}
// general purpouse, for any 2D surfaces:
.mild-shadow{
	-webkit-box-shadow: 1px 6px 29px -3px rgba(0,0,0,.2);
    box-shadow: 1px 6px 29px -3px rgba(0,0,0,.2);
}

// ==============================================
