// ====================================
// CSS (runtime) & SCSS (to compile) vars:
// ====================================
:root {
    --body-main-bg-color: white;
    --body-color: #292828;

    // Could be needed at RUN time:
    --primary: hsl(345, 85%, 34%); // #a10d31;
    --primary-pinky: hsl(362, 80%, 87%);
    --primary-transparent-80percent: rgba(161, 13, 49, 0.2); // It's current '$primary' (#a10d31), with a '0.2' of opacity
    --secondary: hsl(39, 20%, 61%); // #B0A288;
    --secondary-lighter: #d2c5af;
}

$primary: #a10d31;
$primary-pinky: #f8c5c3;
$primary-transparent-80percent: rgba(161, 13, 49, 0.2); // It's current '$primary' (#a10d31), with a '0.2' of opacity
$primary-transparent-50percent: rgba(161, 13, 49, 0.5); // It's current '$primary' (#a10d31), with a '0.5' of opacity
$secondary: #B0A288;
$secondary-transparent-50percent: rgb(176, 162, 136, 0.5); // It's current '$secondary' (#B0A288), with a '0.5' of opacity
$secondary-lighter: #d2c5af;

$side-bar-width: 14rem;
$general-padding: 1rem;
$pre-height: 70vh; // DO THE NATHs for not to be seen OUTTER scrollbar!!!!!

// MIND YOU:
// Next is attributed at the RendererService, on our library of 3D Components.
// The method which affects it's value, via JS is initialize() one - something we simply can NOT CONTROL to/from here...
//  -------------------------------------------------------------------------------
// So... come here to reflect any CHANGES operated at the library of 3D Components
// regarding the z-index of the <canvas /> of the 3D Component being rendered.
//  -------------------------------------------------------------------------------
$component-3d-canvas-z-index: 2;

// Make viewport height control... SMOOTH!
// 400 ms is the time for a lot of things: JS setTimeout()s and CSS transitions on height, linear:
$timeToViewportHeightChanges: 'height 0.4s linear';


@import './buttons';