@import '../../../assets/scss/variables';

section.visualizer-3d {
    width: calc(100vw - 2 * #{$general-padding});
    // height: 75vh;
    // Must subtract the:
    // '#page-content-wrapper' pading (top)
    height: calc(75vh - #{$general-padding});
    overflow: hidden;

    transition: #{$timeToViewportHeightChanges};
    opacity: 0; // <= so it doesn't flicker - on loading <app-component-menu />, a JS operated 'click()' will 'restore' (same values) heights...

    display: flex;

    // background-color: azure;

    position: relative;
    &::after {
        font-family: FontAwesome; font-size: 10rem;
        content: url('src/assets/imgs/loading-wheel.gif');
        position: absolute;
        top: 60%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    &.has-loaded {
        &::after { content: ''}
    }
}