code[class*="language-"],
pre[class="prism-style"] {
	color: #f8f8f2;
	background: none;
	text-shadow: 0 1px rgba(0, 0, 0, 0.3);
	font-family: 'Source Code Pro', monospace; font-weight: 600;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	word-wrap: normal;
	line-height: 1.5;
	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;
	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
}

/* Code blocks */

pre[class="prism-style"] {
	padding: 1em;
	margin: .5em 0;
	overflow: auto;
	border-radius: 0.3em;
}

:not(pre)>code[class*="language-"], pre[class="prism-style"] {
	background: #272822;
}

/* Inline code */

:not(pre)>code[class*="language-"] {
	padding: .1em;
	border-radius: .3em;
	white-space: normal;
}

.token.comment, .token.prolog, .token.doctype, .token.cdata { color: slategray; }
.token.punctuation { color: #f8f8f2; }
.namespace { opacity: .7; }
.token.property, .token.tag, .token.constant, .token.symbol, .token.deleted { color: #f92672; }
.token.boolean, .token.number { color: #ae81ff; }
.token.selector, .token.attr-name, .token.string, .token.char, .token.builtin, .token.inserted { color: #a6e22e; }
.token.operator, .token.entity, .token.url, .language-css .token.string, .style .token.string, .token.variable { color: #f8f8f2; }
.token.atrule, .token.attr-value, .token.function { color: #e6db74; }
.token.keyword { color: #66d9ef; }
.token.regex, .token.important { color: #fd971f; }
.token.important, .token.bold { font-weight: bold; }
.token.italic { font-style: italic; }
.token.entity { cursor: help; }
.readme p { margin: 5px 0 10px 0; }
.readme ul {
	list-style: disc;
	margin-left: 20px;
	margin-bottom: 10px;
}

/*
	==============================================================================
	'markdown-to-html-converter'
	You have a playground at https://markdown-to-html-demo.herokuapp.com/

	Basically the HTML comes to be Bootstrap'ed styled. You shouldn't have to add anything extra...
	But if you want/need to customize it, following your current App's syling guidelines,
	preceed any tag/selector with '.markdown-to-html-converter-style' class selector
	==============================================================================
*/
.markdown-to-html-converter-style { font-family: 'Source Code Pro', monospace; font-weight: 300; }
.markdown-to-html-converter-style h1 { font-size: large; color: var(--secondary); }
.markdown-to-html-converter-style h2 { font-size: larger; color: var(--secondary); }
.markdown-to-html-converter-style h3 { font-size: larger; color: white; text-transform: uppercase; }
.markdown-to-html-converter-style code { font-weight: 300; }
.markdown-to-html-converter-style strong { font-weight: 600; /*900*/ }
.markdown-to-html-converter-style a { color: lightseagreen; }
.markdown-to-html-converter-style a:hover { color: lightsteelblue ; text-decoration: none; transition: color 0.5s ease; }
.markdown-to-html-converter-style hr { background-color: var(--secondary); }
.markdown-to-html-converter-style p { margin-bottom: 0; }

.markdown-to-html-converter-style ul {                                       list-style: none; padding-inline-start: 1rem; }
.markdown-to-html-converter-style ul > li::before { color: var(--secondary); content: "\2022"; margin-right: 0.5rem; }
/* But first and/or second to be catched are special: **/
.markdown-to-html-converter-style ul > li > code:nth-child(1) { color: yellow; }
.markdown-to-html-converter-style ul > li > code:nth-child(1)::after {
	content: ':';
	color: white;
}
.markdown-to-html-converter-style ul > li > code:nth-child(2) { color: lightgreen; }
.markdown-to-html-converter-style ul > li > code:nth-child(2)::after {
	content: '=>';
	color: white;
	padding-left: 0.5rem;
}
