<section class="visualizer-3d outline-shadow light-centered">

    <ng3d-loading-wheel [startLoadingWheel]="(loadingWheelCommand$ | async)" [hostId]="loadingWheelHostId"></ng3d-loading-wheel>

    <ng3d-orbit-controls [rotateSpeed]=1 [zoomSpeed]=1.2>

        <ng3d-renderer-canvas>

            <ng3d-perspective-camera
                [name]="camera.name"
                [lookAtCenter]="camera.movements?.isLookingAtCenter" [axisUp]="camera.movements?.axisUp"
                [positionX]="camera.position.x" [positionY]="camera.position.y" [positionZ]="camera.position.z"
                [rotateX]="(camera.rotation?.x | deg2rad)" [rotateY]="(camera.rotation?.y | deg2rad)" [rotateZ]="(camera.rotation?.z | deg2rad)"
                [fov]="camera.frustum.fov" [near]="camera.frustum.near" [far]="camera.frustum.far"
            ></ng3d-perspective-camera>


            <ng3d-scene [newObj]="userCreatedObj3D">

                <ng3d-axes-helper size=200></ng3d-axes-helper>
                <ng3d-grid-helper size=100 divisions=10></ng3d-grid-helper>

                <!-- Light Camera: -->
                <ng3d-point-light [translateX]="camera.position.x" [translateY]="camera.position.y" [translateZ]="camera.position.z" [distance]=1000></ng3d-point-light>

                <!-- Scene Lights: -->
                <ng3d-point-light
                    [name]="pointsOfLight[0].name"
                    [translateX]="pointsOfLight[0].position.x" [translateY]="pointsOfLight[0].position.y" [translateZ]="pointsOfLight[0].position.z"
                    [color]="pointsOfLight[0].emittance.color" [intensity]="pointsOfLight[0].emittance.intensity" [distance]="pointsOfLight[0].emittance.distance"
                ></ng3d-point-light>
                <ng3d-point-light
                    [name]="pointsOfLight[1].name"
                    [translateX]="pointsOfLight[1].position.x" [translateY]="pointsOfLight[1].position.y" [translateZ]="pointsOfLight[1].position.z"
                    [color]="pointsOfLight[1].emittance.color" [intensity]="pointsOfLight[1].emittance.intensity" [distance]="pointsOfLight[1].emittance.distance"
                ></ng3d-point-light>

                <ng3d-obj-loader [afterDEMOisLoaded]="start3Dmounting"
                    [name]="actor3D.name"
                    model="assets/model/obj-loader-demo/rac_advanced_sample_project.obj"
                
                    [translateX]="actor3D.position?.x" [translateY]="actor3D.position?.y" [translateZ]="actor3D.position?.z"
                    [rotateX]="(actor3D.rotation?.x | deg2rad)" [rotateY]="(actor3D.rotation?.y | deg2rad)" [rotateZ]="(actor3D.rotation?.z | deg2rad)"
                ></ng3d-obj-loader>

            </ng3d-scene>

        </ng3d-renderer-canvas>

    </ng3d-orbit-controls>

</section>

<app-component-menu [lggCodeObj]="codeStringsObj" (angularHasLoaded)="onFinishLoadingOfAngular()"
    [currentStageCamera]="camera"
    [currentStageLights]="pointsOfLight"
    [currentStageActor3D]=null

    [createdObj3D]="createdObj3D"

    (sendCameraNewCoord)="onSendingCameraAxisCoord($event)"
    (sendCameraNewRotationCoord)="onSendingCameraNewRotationCoord($event)"
    (sendCameraMoveParam)="onSendingCameraMoveParam($event)"
    (sendCameraNewFOV)="onSendingCameraNewFOV($event)"
    (sendCameraNewNEAR)="onSendingCameraNewNEAR($event)"
    (sendCameraNewFAR)="onSendingCameraNewFAR($event)"

    (sendPLNewTranslatePosCoord)="onSendingPLNewTranslatePosCoord($event)"
    (sendPLNewColor)="onSendingPLNewColor($event)"
    (sendPLNewIntensity)="onSendingPLNewIntensity($event)"
    (sendPLNewDistance)="onSendingPLNewDistance($event)"

    (addNewPointOfLight)="onAddingNewPointOfLight($event)"
    (removePointOfLight)="onRemovingPointOfLight($event)"

    (sendActorNewCoord)="onSendingActorAxisCoord($event)"
    (sendActorNewRotationCoord)="onSendingActorAxisRotationCoord($event)"

    (resetToInitValues)="onResetingToInitValues($event)"
></app-component-menu>