<div class="input-container">
    <div class="input-field pr-4 pb-1">
        <!-- <label class="pr-2" [innerHTML]="inputLabel | safeSanitized: 'html'"></label> -->
        <!--
            As its inside a to-compile library, Angular don't mind if you do not sanitize the var to innerHTML
            In fact it's a bug!
            It should worry Angular as much as the same thing in any App's Component,
            since this, here, it's an @Input() to the App enables a developer to write into... whatever!!!

            The forgery of security issues...
        -->
        <label class="pr-2" [innerHTML]="inputLabel"></label>
        <input *ngIf="inputType === 'number' || inputType === 'text'" class="font-lato"
            [attr.type]="inputType" [(ngModel)]="initValue" (keyup)="userIsTyping($event)"
            [attr.disabled]="isDisabled ? '' : null"
        >
        <input *ngIf="inputType === 'color'"
            type="color" [(ngModel)]="initValue" (change)="userHasChosenColor($event)"
            [attr.disabled]="isDisabled ? '' : null"
        >
    </div>

    <div class="input-screening">
        <ng3d-led-light [ledColor]="thisColorOfLed" class="pr-2"></ng3d-led-light>
        <div class="font-lato">{{ aidText }}</div>
    </div>
</div>