@import '../../../scss/variables';

div.input-container {
    display: flex;
    justify-content: space-between;

    div.input-field {
        display: flex;
        align-items: center;

        label {
            margin-bottom: 0;
            line-height: 12px;
        }
        input {
            width: 80px;
            border: none;
            border-bottom: 1px solid $secondary-lighter;
            text-align: right;
        }
    } 

    div.input-screening {
        display: flex;
        align-items: center;

        font-size: small;
        line-height: 15px;
        min-width: 7rem;
    }
}

@media(max-width: 460px) {

    div.input-screening { display: none !important; }

}