<section class="visualizer-3d outline-shadow light-centered">

    <ng3d-orbit-controls [rotateSpeed]=1 [zoomSpeed]=1.2>
        <ng3d-renderer-canvas>

            <ng3d-perspective-camera
                [name]="camera.name"
                [lookAtCenter]="camera.movements?.isLookingAtCenter" [axisUp]="camera.movements?.axisUp"
                [positionX]="camera.position.x" [positionY]="camera.position.y" [positionZ]="camera.position.z"
                [rotateX]="(camera.rotation?.x | deg2rad)" [rotateY]="(camera.rotation?.y | deg2rad)" [rotateZ]="(camera.rotation?.z | deg2rad)"
                [fov]="camera.frustum.fov" [near]="camera.frustum.near" [far]="camera.frustum.far"
            ></ng3d-perspective-camera>

            <ng3d-scene>
                <ng3d-axes-helper size=200></ng3d-axes-helper>
                <ng3d-grid-helper size=100 divisions=10></ng3d-grid-helper>
            </ng3d-scene>

        </ng3d-renderer-canvas>
    </ng3d-orbit-controls>

</section>

<app-component-menu [lggCodeObj]="codeStringsObj" [currentStageCamera]="camera" [currentStageLights]="null"
    (sendCameraNewCoord)="onSendingCameraAxisCoord($event)"
    (sendCameraNewRotationCoord)="onSendingCameraNewRotationCoord($event)"
    (sendCameraMoveParam)="onSendingCameraMoveParam($event)"
    (sendCameraNewFOV)="onSendingCameraNewFOV($event)"
    (sendCameraNewNEAR)="onSendingCameraNewNEAR($event)"
    (sendCameraNewFAR)="onSendingCameraNewFAR($event)"

    (resetToInitValues)="onResetingToInitValues($event)"
></app-component-menu>