@import '../../../assets/scss/variables';

@mixin a-link-text {
    color: $secondary;
    font-weight: 600;
    letter-spacing: 2px;

    white-space: nowrap;
}

ul.navbar-nav {
    // Adjust distance to '.close-menu', that is on other Component's Template:
    padding-top: calc(2 * #{$general-padding});

    li {
        position: relative;
        padding-left: 1rem;

        &::before {
            position: absolute;
            font-family: FontAwesome;

            color: $secondary-lighter;
            margin-top: 8px;
            margin-left: -23px;
        }

        &:nth-of-type(1)::before,
        &:nth-of-type(2)::before,
        &:nth-of-type(3)::before { content: '\f1ea'; }

        &:nth-of-type(4)::before,
        &:nth-of-type(5)::before,
        &:nth-of-type(6)::before,
        &:nth-of-type(7)::before,
        &:nth-of-type(8)::before,
        &:nth-of-type(9)::before,
        &:nth-of-type(10)::before{ content: '\f121'; }

        // &:nth-of-type(10)::before{ content: '\f0c3'; }

        a { @include a-link-text; }
    }
}

footer {
    color: $secondary;
    div.footer-title  { @include a-link-text; }
}

.text-brighter { color: $secondary-lighter; }