<ul class="navbar-nav mt-5">
    <li class="nav-item"><a class="nav-link text-uppercase" href="javascript: void(0);" routerLink="">Home</a></li>
    <li class="nav-item"><a class="nav-link text-uppercase" href="javascript: void(0);" routerLink="about">About</a></li>
    <li class="nav-item pb-3"><a class="nav-link NOT-text-uppercase" href="javascript: void(0);" routerLink="this-page-does-not-obviously-exists!">(<i>inexistent</i>)<i class="fa fa-smile-o pl-2" aria-hidden="true"></i></a></li>

    <hr>

    <li class="nav-item py-3"><a class="nav-link text-uppercase" href="javascript: void(0);" routerLink="empty-stage">Empty Stage</a></li>

    <li class="nav-item"><a class="nav-link text-uppercase" href="javascript: void(0);" routerLink="sphere">Sphere</a></li>
    <li class="nav-item"><a class="nav-link text-uppercase" href="javascript: void(0);" routerLink="cube">Cube</a></li>
    <li class="nav-item"><a class="nav-link text-uppercase" href="javascript: void(0);" routerLink="conical-cylinder">Conic</a></li>
    <li class="nav-item"><a class="nav-link text-uppercase" href="javascript: void(0);" routerLink="torus">Torus</a></li>

    <li class="nav-item pt-3"><a class="nav-link text-uppercase" href="javascript: void(0);" routerLink="obj">3 floor Office <span><b class="text-brighter">*</b></span></a></li>
    <li class="nav-item pb-3"><a class="nav-link NOT-text-uppercase" href="javascript: void(0);" routerLink="obj-stream-loader">STREAM of OBJs <span><b class="text-brighter">**</b></span></a></li>
    
    <hr>

</ul>

<footer class="foot-notes mt-5">
    
    <div class="footer-title text-uppercase"><i class="fa fa-coffee mr-2 text-brighter" aria-hidden="true"></i>still ongoing</div>
    
    <div class="ml-4"><b class="text-brighter">*</b> A few left <b>TODO</b>s</div>
    <div class="ml-4"><b class="text-brighter">**</b> Highly <b>experimental</b> ideas</div>

</footer>