@import '../assets/scss/variables';

#wrapper {
    padding-left: 0;

    &.toggled {

        #side-menu-wrapper {
            width: $side-bar-width;
        }

        #page-content-wrapper {
            transform: translateX($side-bar-width);

            // UI blocker,
            // in particular of the <canvas /> where 3D Component is being rendered:
            &::after{
                z-index: calc(#{$component-3d-canvas-z-index} + 1);

                width: 100%;
                height: 100%;

                opacity: 1;
                // background: rgba(0,0,0,.05);
                background: $primary-transparent-80percent;
            }
        }
    }

    &:not(.toggled) {
        #side-menu-wrapper { overflow-y: hidden; }
    }

    #side-menu-wrapper {
        position: fixed;
        width: 0;
        z-index: 1000;

        left: $side-bar-width;
        margin-left: -$side-bar-width;
        height: 100%;

        background: $primary;
        // ===========================
        overflow-y: auto; /* <= because IE, should be hidden! Well... we'll do it, once menu is closed - class #wrapper NOT toggled */
        // ===========================
    
        box-shadow: 1px 6px 29px -3px #222222;
        transition: all 0.5s ease;

        .close-menu {
            position: absolute;
            top: calc(2 * #{$general-padding});
            left: 0.5rem;
            cursor: pointer;
        }

        div.side-menu-container {
            // MIND YOU: will/might have absolute positioning elements inside:
            position: relative;
            padding: $general-padding;
        }
        
    }

    #page-content-wrapper {
        // MIND YOU: will/might have absolute positioning elements inside:
        position: relative;
        width: 100%;
        height: 100vh;
        min-width: 300px;

        padding: $general-padding;

        transition: all 0.5s ease;

        // A Modal that does not let happen any clicking on the main rendering 3D Scene,
        // once main container is pushed to the right 'transform: translateX($side-bar-width);'
        // Side effects - precisely on clicking - have been noticed on the canvas where the 3D Component
        // is being rendered (i.e., the loosing of this transform translateX)... 
        &::after {
            position: absolute;
            top: 0; right: 0;
            width: 0; height: 0;
            content: '';

            opacity: 0;
            background-color: transparent;
            transition: opacity 0.5s ease, background-color 0.5s ease;
        }

        .menu-trigger {
            position: absolute;
            z-index: calc(#{$component-3d-canvas-z-index} + 3);
            
            color: $primary;    // Will change in some (blackish background) pages...
            transition: color 2s ease-in;
            padding: $general-padding; // Yes! Again!
        }

        .logo {
            font-family: 'Racing Sans One', cursive;
            font-size: 2.2rem;
            letter-spacing: 3px;

            position: absolute;
            z-index: calc(#{$component-3d-canvas-z-index} + 2);
            // Init:
            top: -10rem; left: -10rem;
            // ------------------
            margin-top: 1.25rem;
            margin-left: 5.2rem;

            color: $primary; // $primary ;// $secondary;

            // 3D shading => need to realign top/left, due to the skew() (and in 'vh' so label get's aout the way on mobiles...)
            margin-top: 12.5vh; // 7.5rem;
            margin-left: 16vh; // 9.8rem;
            transform: translate(-50%, -50%) skew(22deg, -34deg);
            transform-origin: bottom left;
            text-shadow: 
                // Uniformize the several (next 3) layers, with a bit of blur
                1px -1px 10px rgba(255, 255, 255, 0.4), 
                0px -1px 10px rgba(255, 255, 255, 0.4),  
                -1px -1px 10px rgba(255, 255, 255, 0.4),

                // 3 layers give it the z depth (the far back, the less blur):
                // -------------------------------------------------
                // As 'text-shadow' can not be smoothly 'transition'ed, on '&.lowered',
                // we draw this 3 layers with JS, with 3 increments of 2s, with setTimout()!
                // (3 x 2s is the time the '::after' front shade takes to slide to final position)
                // -------------------------------------------------
                // 0px -2px 3px /*#EFEBE9,*/ /*#BCAAA4,*/ $secondary,
                // -1px -2px 3px /*#EFEBE9,*/ /*#BCAAA4,*/ $secondary,
                // -2px -2px 3px /*#EFEBE9,*/ /*#BCAAA4,*/ $secondary,
                // -1px -3px 2px /*#EFEBE9,*/ /*#BCAAA4,*/ $secondary,

                // -2px -3px 2px /*#D7CCC8, */ $secondary,
                // -3px -3px 2px /*#D7CCC8,*/ $secondary,
                // -2px -4px 2px /*#D7CCC8, */ $secondary,
                // -3px -4px 2px /*#D7CCC8, */ $secondary,

                // -4px -4px 2px /*#BCAAA4,*/ /*#EFEBE9,*/ $secondary,
                // -3px -5px 1px /*#BCAAA4,*/ /*#EFEBE9,*/ $secondary,
                // -4px -5px 1px /*#BCAAA4,*/ /*#EFEBE9,*/ $secondary, /* will change to $primary,*/
                // -5px -5px 1px /*#BCAAA4*/  /*#EFEBE9*/ $secondary /* will change to $primary,*/
            ;
            // Drop front shadow:
            &::after {
                content: 'NG 3D';
                position: absolute;
                // Init:
                top: 0rem; left: 0rem;
                opacity: 0;
                // ------------------

                transform: skew(52deg, 0deg);
                // But we want an "inverted" shade - as they all are!
                // => have to rotate -180º and mirror => adjust position
                transform: skew(-144deg, 0deg) scaleY(-1);
                margin-top: -4rem; margin-left: -6rem;

                transform-origin: bottom right;
                z-index: -1;
                color: transparent;
                // Push it far front and pretty blur'ed:
                text-shadow: 52px 3px 3px rgba(176, 162, 136, 0.3); // $secondary; with 0.3 opacity
            }

            &.lowered {
                top: 0; left: 0;
                color: $primary-pinky; // $secondary; // $primary;
                transition:
                    top 0.8s ease 1s, left 0.8s ease 1s,
                    color 6s ease 0.6s;
                ;
                // Final beating:
                animation: 1s heartbeat;
                animation-delay: 3s;

                // Drop front shadow, when '.lowered':
                &:after {
                    opacity: 1;
                    top: 4rem; left: 3.5rem;
                    transition:
                        top 3s ease 0.6s, left 3s ease 0.6s,
                        opacity 4s ease 0s  // <= carefull with long durations; you'll notice a small bump, when opacity gets to '1'
                    ;
                }
            }

        }

    }
    
}

@keyframes heartbeat {
    0% { transform: translate(-50%, -50%) skew(22deg, -34deg) scale3D(1, 1, 1); }

    25% { transform: translate(-50%, -50%) skew(22deg, -34deg) scale3D(1.1, 1.1, 1.1); }

    40% { transform: translate(-50%, -50%) skew(22deg, -34deg) scale3D(1, 1, 1); }

    60% { transform: translate(-50%, -50%) skew(22deg, -34deg) scale3D(1.1, 1.1, 1.1); }

    100% { transform: translate(-50%, -50%) skew(22deg, -34deg) scale3D(1, 1, 1); }
}