<h1 [hidden]="true">{{ title }}</h1>

<div id="wrapper">

    <div id="side-menu-wrapper">

        <div class="side-menu-container">
            <i class="fa fa-times-circle fa-2x pull-right close-menu text-white" (click)="toggleMenu($event)"></i>
            <app-side-menu></app-side-menu>
        </div>

    </div>

    <div id="page-content-wrapper">

        <button class="btn btn-default menu-trigger" title="Open/Close login Menu"  (click)="toggleMenu($event)"><i class="fa fa-bars fa-2x"></i></button>
        <div class="logo" title="3D and shadding using CSS3 only!">NG 3D</div>

        <!-- <div class="container"> -->
            <router-outlet></router-outlet>
        <!-- </div> -->

    </div>

</div>