@import '../../../../../assets/scss/variables';

section.settings-move-wrapper {
    .title {
        color: $primary;
        white-space: nowrap;
    }

    .width-88 { width: 88%; }

    position: relative;
    button {
        position: absolute;
        top: 0; right: 0;
        margin: 0;

        border: 1px solid transparent;
        i.fa { font-weight: 900; }
    }
}