<section class="settings-move-wrapper" *ngIf="obj3Dparams">

    <button *ngIf="!obj3Dparams.uuid" class="btn btn-sm btn-outline-danger" title="Got lost...? Reset this '{{ obj3Dparams.name || '3D object (no mame)' }}' to init values!"
        (click)="resetStage(obj3Dtype.param)"
    ><i class="fa fa-refresh" aria-hidden="true"></i>
    </button>

    <button *ngIf="obj3Dparams.uuid" class="btn btn-sm btn-outline-danger" title="Delete this User custom Point of Light...?"
        (click)="removeObj3DFromStage(obj3Dparams.uuid)"
    ><i class="fa fa-trash" aria-hidden="true"></i>
    </button>


    <h5 class="title text-truncate width-88">{{ obj3Dparams.name || '3D object (no mame)' }} {{ movementTypeTemplate }}</h5>

    <ng-container [ngSwitch]="movementTypeTemplate">

        <ng-template [ngSwitchCase]="'position'" *ngIf="obj3Dparams.position as pos">

            <ng3d-input-block
                inputLabel="<span class='text-danger'><i class='fa fa-exchange' aria-hidden='true'></i> X mtr</span>"
                [initValue]="pos.x"
                [renderedValue]="obj3Dtype.param === 'camera' ? renderedPosX : null"
                (sendInputBack)="sendObj3DCoord.emit( obj3Dtype.param !== 'pol' ? {axis: 'x', value: $event} : {axis: 'x', value: $event, idx: obj3Dtype.idx, uuid: obj3Dtype.uuid} )"
            ></ng3d-input-block>
            
            <ng3d-input-block
                inputLabel="<span class='text-success'><i class='fa fa-exchange' aria-hidden='true'></i> Y mtr</span>"
                [initValue]="pos.y"
                [renderedValue]="obj3Dtype.param === 'camera' ? renderedPosY : null"
                (sendInputBack)="sendObj3DCoord.emit( obj3Dtype.param !== 'pol' ? {axis: 'y', value: $event} : {axis: 'y', value: $event, idx: obj3Dtype.idx, uuid: obj3Dtype.uuid} )"
            ></ng3d-input-block>
            
            <ng3d-input-block
                inputLabel="<span class='text-primary'><i class='fa fa-exchange' aria-hidden='true'></i> Z mtr</span>"
                [initValue]="pos.z"
                [renderedValue]="obj3Dtype.param === 'camera' ? renderedPosZ : null"
                (sendInputBack)="sendObj3DCoord.emit( obj3Dtype.param !== 'pol' ? {axis: 'z', value: $event} : {axis: 'z', value: $event, idx: obj3Dtype.idx, uuid: obj3Dtype.uuid} )"
            ></ng3d-input-block>
        </ng-template>

        <ng-template [ngSwitchCase]="'rotation'" *ngIf="obj3Dparams.rotation as rot">

            <ng3d-input-block [isDisabled]="disableRotInput[0] && obj3Dtype.param === 'camera'"
                inputLabel="<span class='text-danger'><i class='fa fa-refresh' aria-hidden='true'></i> X deg</span>"
                [initValue]="rot.x"
                (sendInputBack)="sendObj3DCoord.emit( {axis: 'x', value: $event, uuid: obj3Dtype.uuid} )"
            ></ng3d-input-block>
            
            <ng3d-input-block [isDisabled]="disableRotInput[1] && obj3Dtype.param === 'camera'"
                inputLabel="<span class='text-success'><i class='fa fa-refresh' aria-hidden='true'></i> Y deg</span>"
                [initValue]="rot.y"
                (sendInputBack)="sendObj3DCoord.emit( {axis: 'y', value: $event, uuid: obj3Dtype.uuid} )"
            ></ng3d-input-block>
            
            <ng3d-input-block [isDisabled]="disableRotInput[2] && obj3Dtype.param === 'camera'"
                inputLabel="<span class='text-primary'><i class='fa fa-refresh' aria-hidden='true'></i> Z deg</span>"
                [initValue]="rot.z"
                (sendInputBack)="sendObj3DCoord.emit( {axis: 'z', value: $event, uuid: obj3Dtype.uuid} )"
            ></ng3d-input-block>
        </ng-template>

    </ng-container>
</section>