/*
==========================================================================
PRE-LOADING wheelS, for header of GADGETS
    * till boolean switching acts
    * or spacific tag is loaded and ready to see/use 
==========================================================================
*/
.headers-preloader {
    position: absolute;
    top: 0; left: 0;

    width: 100%;

    // height SHOULD be defined for each

    z-index: 2001;
 
    // background-color SHOULD be defined for each
    background-color: rgba(0, 0, 0, 0.05);

    // background-image: url('/includes/images/headers_preloader.gif');
    background-repeat: no-repeat;
    background-position: center center;
    // background-size: contain; /*cover;*/

    display: flex;
    justify-content: center;
    align-items: center;

    .loading-wheel {
        border-radius: 50%;
        width: 40px;
        height: 40px;
        font-size: 10px;
    
        border: 5px solid rgba(255, 0, 0, 0.8); /* #ababab; /* #efefef; /* rgba(255, 255, 255, .8); */
    
        transform: translateZ(0);
    
        -webkit-animation: load8 1.1s infinite linear;
        animation: load8 1.1s infinite linear;
    }
}

/* -------------------------------------------------
                CUSTOMIZE FOR EACH
     'headers-preloader' gadget throughout the App
    ------------------------------------------------
    Class them, or 'Id' them, or their CONTAINERs,
    and define HERE best HEIGHHT, COLORing, etc., etc.
 */
div.headers-preloader {
    height: 100%;

    background-color: var(--secondary);
    opacity: 0.8;

    display: none;

    .loading-wheel {
        border-top-width: 3px;
        border-right-width: 2px;
        border-bottom-width: 1px;
        border-color:  var(--primary);
        // ---------------------------------
        border-left-color: transparent;
        // ---------------------------------
    }

}

// ==========================================================================

@-webkit-keyframes load8 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes load8 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
