<main>

    <section class="framed-border outline-shadow horizontal-spread">

        <span class="exclude-from-flex w-100">
            <ng3d-loading-wheel [startLoadingWheel]="triggerLoadingWheel" [hostId]="'new-point-of-light-form'"></ng3d-loading-wheel>
        </span>

        <div class="add-title NOT-text-truncate width-88">Add a new Point of Light to this <span class="text-ng3d-primary">{{ demoName }}</span> 3D Stage</div>
        <button class="btn btn-sm btn-outline-danger" title="Add your own custom Point of Light to the current Scene!"
            data-toggle="collapse" data-target="#newPointOfLightForm" aria-expanded="false" aria-controls="newPointOfLightForm"
        ><i class="fa fa-plus" aria-hidden="true"></i>
        </button>
        <div class="w-100 collapse" id="newPointOfLightForm">
            <app-new-3d-object-form [newObj3Dtype]="newObj3DtypeToCreate" [newObj3DParams]="newUserPointOfLightSettings" (newObj3DToCreate)="userNewPointOfLight($event)"></app-new-3d-object-form>
        </div>

    </section>
    <!-- {{ createdPointOfLight | json }} -->

    <ng-container *ngFor="let pOLight of pointsOfLight; index as i;"> <!-- trackBy: ( 'id' | trackByProperty )"> -->

        <section *ngIf="pOLight?.position" class="light-point framed-border outline-shadow">

            <app-settings-move-card [movementTypeTemplate]="'position'"
                [obj3Dtype]="{ param: 'pol', idx: i, uuid: pOLight.uuid }"
                [obj3Dparams]="pOLight"
    
                (sendObj3DCoord)="sendPLNewTranslatePosCoord.emit($event)"
                (removeObj3D)="removePoL(pOLight.uuid)"
    
                (resetToInitValues)="resetToInitValues.emit($event)"
            ></app-settings-move-card>
            
        </section>
    
        <section class="light-point framed-border outline-shadow">
            
            <button *ngIf="!pOLight.uuid" class="btn btn-sm btn-outline-danger" title="Got lost...? Reset Stage to init values!"
                (click)="resetStage('pol-' + i)"
            ><i class="fa fa-refresh" aria-hidden="true"></i>
            </button>

            <button *ngIf="pOLight.uuid" class="btn btn-sm btn-outline-danger" title="Delete this User custom Point of Light...?"
                (click)="removePoL(pOLight.uuid)"
            ><i class="fa fa-trash" aria-hidden="true"></i>
            </button>

            
            <!-- - - - - - - - - - - - - - -- - - - - - - - - - - - - Remember there's a '0' index Point Of Light, for the Camera... -->
            <h5 class="title text-truncate width-88">{{ pOLight.name ? pOLight.name : 'Point of Light #' + (i + 1) }} emittance</h5>

            <!-- <div *ngIf="pOLight.uuid">{{ pOLight.uuid }}</div> -->

            <ng-container *ngIf="pOLight.emittance as emittance">
                <ng3d-input-block
                    inputLabel="Color"
                    inputType="color"
                    aidText="... pick a color."
                    [initValue]="emittance.color ? '#' + emittance.color.toString(16) : '#000000'"
                    (sendInputBack)="sendPLNewColor.emit({value: $event, idx: i, uuid: pOLight.uuid})"
                ></ng3d-input-block>
                
                <ng3d-input-block
                    inputLabel="Intensity"
                    [initValue]="emittance.intensity"
                    (sendInputBack)="sendPLNewIntensity.emit({value: $event, idx: i, uuid: pOLight.uuid})"
                ></ng3d-input-block>
                
                <ng3d-input-block
                    inputLabel="Distance"
                    [initValue]="emittance.distance"
                    (sendInputBack)="sendPLNewDistance.emit({value: $event, idx: i, uuid: pOLight.uuid})"
                ></ng3d-input-block>
            </ng-container>

        </section>

    </ng-container>

</main>