<section class="visualizer-3d outline-shadow light-centered d-flex justify-content-center align-items-center">

    <h2 class="p-2">
        obj-stream-loader-demo DEMO component works!
    </h2>

</section>

<app-component-menu [lggCodeObj]="codeStringsObj" (angularHasLoaded)="onFinishLoadingOfAngular()"

></app-component-menu>