<!--
<pre class="prism-style"><code class="language-html" [innerHTML]="getPrism_HTML_content | safeSanitized: 'html'"></code></pre>
<pre class="prism-style"><code class="language-javascript" [innerHTML]="getPrism_TS_content | safeSanitized: 'html'"></code></pre>

For the '*.md' API content file:
<pre class="prism-style"><code class="language-markup api" [innerHTML]="get_API_content | safeSanitized: 'html'"></code></pre>

Upper Prism for '*.md' files is NOT used anymore!
UNCOMMENT NEXT to check the new 'markdown-to-html-converter':
-->

<!--
This:
<hr>
<pre>{{ this.lggCodeObj.MDAPI }}</pre>
<hr>
... is transformed into this:
<hr>
<pre>{{ get_API_content }}</pre>
-->

<div class="component-name outline-shadow">{{ title }}</div>

<ng3d-viewport-controler-menu class="if-visualizer-3d-maximized" [hidden]="!isVisualizer3Dmaximize"
    [isActiveBtn]="isToActivateBtn"
    (maximize)="maximize3D()" (halfHeight)="resize3Dto('halfHeight')" (restore)="resize3Dto('original')" (minimize)="resize3Dto('minimize')"
></ng3d-viewport-controler-menu>

<section class="component-menu-container">

    <div class="component-menu-content">
        
        <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">

            <ng3d-viewport-controler-menu
                [isActiveBtn]="isToActivateBtn"
                (maximize)="maximize3D()" (halfHeight)="resize3Dto('halfHeight')" (restore)="resize3Dto('original')"  (minimize)="resize3Dto('minimize')"
            ></ng3d-viewport-controler-menu>

            <button class="btn btn-sm btn-outline-secondary" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings" role="tab" aria-controls="v-pills-settings"
                title="Customize the 3D Component installation settings..."    
                [class.active]="buttonSelected===0"  [attr.aria-selected]="buttonSelected===0 ? true : false"
            ><i class="fa fa-sliders" aria-hidden="true"></i></button>

            <button class="btn btn-sm btn-outline-secondary" id="v-pills-html-tab" data-toggle="pill" href="#v-pills-html" role="tab" aria-controls="v-pills-html"
                title="Inspect the 3D Component installation HTML Markup..."
                [class.active]="buttonSelected===1" [attr.aria-selected]="buttonSelected===1 ? true : false"
            >HTML</button>

            <button class="btn btn-sm btn-outline-secondary" id="v-pills-ts-tab" data-toggle="pill" href="#v-pills-ts" role="tab" aria-controls="v-pills-ts"
                title="Inspect the 3D Component installation TS logic of Input()/Output()..."
                [class.active]="buttonSelected===2" [attr.aria-selected]="buttonSelected===2 ? true : false"
            >TS</button>

            <button class="btn btn-sm btn-outline-secondary" [class.active]="buttonSelected===3" id="v-pills-api-tab" data-toggle="pill" href="#v-pills-api" role="tab" aria-controls="v-pills-api"
                title="Inspect the API of the 3D Component, so you can customize it on any installation..."
                [class.active]="buttonSelected===3" [attr.aria-selected]="buttonSelected===3 ? true : false"
            >API</button>

        </div>

        <div class="tab-content" id="v-pills-tabContent">

            <div class="tab-pane fade" [class.show]="buttonSelected===0" [class.active]="buttonSelected===0" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">
                <div class="component-settings">

                    <app-settings [stageParamsFile]="get_PARAMS_content" (angularLoaded)="angularHasLoaded.emit();" [demoName]="title"
                        [stageCamera]="currentStageCamera"
                        [stageLights]="currentStageLights"
                        [stageActor3D]="currentStageActor3D"

                        [createdObj3D]="createdObj3D"
                        
                        (sendCameraNewCoord)="sendCameraNewCoord.emit($event)"
                        (sendCameraNewRotationCoord)="sendCameraNewRotationCoord.emit($event)"
                        (sendCameraMoveParam)="sendCameraMoveParam.emit($event)"
                        (sendCameraNewFOV)="sendCameraNewFOV.emit($event)"
                        (sendCameraNewNEAR)="sendCameraNewNEAR.emit($event)"
                        (sendCameraNewFAR)="sendCameraNewFAR.emit($event)"

                        (sendPLNewTranslatePosCoord)="sendPLNewTranslatePosCoord.emit($event)"
                        (sendPLNewColor)="sendPLNewColor.emit($event)"
                        (sendPLNewIntensity)="sendPLNewIntensity.emit($event)"
                        (sendPLNewDistance)="sendPLNewDistance.emit($event)"
    
                        (addNewPointOfLight)="addNewPointOfLight.emit($event)"
                        (removePointOfLight)="removePointOfLight.emit($event)"
    
                        (sendActorNewCoord)="sendActorNewCoord.emit($event)"
                        (sendActorNewRotationCoord)="sendActorNewRotationCoord.emit($event)"

                        (resetToInitValues)="resetToInitValues.emit($event)"
                    ></app-settings>
                    
                </div>
            </div>

            <div class="tab-pane fade" [class.show]="buttonSelected===1" [class.active]="buttonSelected===1" id="v-pills-html" role="tabpanel" aria-labelledby="v-pills-html-tab">
                <pre class="vscode-style prism-style"><code class="language-html" [innerHTML]="getPrism_HTML_content | safeSanitized: 'html'"></code></pre>
            </div>

            <div class="tab-pane fade"  [class.show]="buttonSelected===2" [class.active]="buttonSelected===2" id="v-pills-ts" role="tabpanel" aria-labelledby="v-pills-ts-tab">
                <pre class="vscode-style prism-style"><code class="language-javascript" [innerHTML]="getPrism_TS_content | safeSanitized: 'html'"></code></pre>
            </div>

            <div class="tab-pane fade" [class.show]="buttonSelected===3" [class.active]="buttonSelected===3" id="v-pills-api" role="tabpanel" aria-labelledby="v-pills-api-tab">
                <!-- <pre class="prism-style"><code class="language-markup api" [innerHTML]="get_API_content | safeSanitized: 'html'"></code></pre> -->
                <div class="vscode-style markdown-to-html-converter-style" [innerHTML]="get_API_content | safeSanitized: 'html'"></div>
            </div>

        </div>

    </div>

</section>