@import '../../assets/scss/variables';

div.component-name {
    font-family: 'Racing Sans One', cursive;
    font-size: 16px; letter-spacing: 1px;
    position: absolute;
    z-index: calc(#{$component-3d-canvas-z-index} + 1);
    // Init:
    top: -10rem; right: 0;  // <= MIND YOU this offset screen value will also influence the speed seeing it get '.lowered'
    // ------------------
    margin-top: calc(2 * #{$general-padding} - 0.05rem); // <= perfectly centered with hamburguer Menu trigger ('font-size' also influences this figure)
    margin-right: calc(2 * #{$general-padding});

    // background-color: $secondary;
    color: $primary;

    // border: 2px solid $secondary;
    padding: 0.25rem 0.75rem;
    white-space: nowrap;

    // As will have no border, et ride of the "outline-shadow"s outline:
    outline: none;

    &.lowered {
        top: 0;
        transition: top 1s ease 2s;
    }
}

ng3d-viewport-controler-menu.if-visualizer-3d-maximized {
    position: absolute;
    z-index: calc(#{$component-3d-canvas-z-index} + 1);
    bottom: 0; left: 0;

    margin-bottom: calc(2 * #{$general-padding});
    margin-left: calc(2 * #{$general-padding});
    border-radius: 0.25rem;

    // Simulate the 'component-menu-content' container we have inside '<section class="component-menu-container">'
    display: block;
    width: 20%; // 100%; // <= with 20% we get an exact similar responsive behaviour; but 100% would be preferable...
    min-width: 100px;

    background-color: var(--body-main-bg-color);
    max-width: 150px;
}

section.component-menu-container {
    font-family: 'Source Code Pro', monospace; font-weight: 600;
    width: 100%;
    // height: calc(25vh - #{$general-padding} - 1px);
    transition: #{$timeToViewportHeightChanges};
    // We only set heights, on the top 'section.visualizer-3d', to a value of 75vh.
    // Then.... we set 'div.tab-content' height in order to, all sum up @ <app-component-menu /> inner, results in the next 25vh

    // background-color: ghostwhite;

    margin-top: $general-padding;
    .component-menu-content {
        border-top: 1px solid $secondary;
        padding-top: $general-padding;
        padding-bottom: $general-padding;
        border-bottom: 1px solid $secondary;
        // Besides asthetic, these BORDERS are pretty damn IMPORTANT guide lines to make sure all heights are correct! ;-)
    
        width: 100%;
        // max-height: 100%; overflow-y: auto; //<= nopes; we'll make overflow ONLY on the 'div.tab-content' part!
        display: flex;
        // justify-content: center;
        // align-content: space-between;
        flex-wrap: wrap;
        
        div.nav {
            width: 20%;
            align-items: center;

            button {
                @extend %component-menu__button;
                min-width: 120px;
                &:nth-of-type(1) { margin-top: 0.25rem; }
                &:hover { border-color: $secondary; }
            }
        }
        
        div.tab-content {
            width: 80%;
            // height: 25vh;
            // Must subtract the:
            // '.component-menu-container' margin-top,
            // '.component-menu-content' 1px border-top, and the 2 paddings
            // '.component-menu-content' 1px border-bottom
            // '#page-content-wrapper' pading (bottom)
            height: calc(25vh - #{$general-padding} - 1px - #{2*$general-padding} - 1px - #{$general-padding} ); overflow: auto;
            transition: #{$timeToViewportHeightChanges};
    
            padding-left: $general-padding;
    
            // Exclusively for the 'settings' content CONTAINER (it's another TAB Component!)
            #v-pills-settings{ height: 100%; }
    
            // Also exclusively for the 'settings' Tab contents INNER CONTAINER
            .component-settings {
                height: 100%;
                font-family: 'Racing Sans One', cursive;
                font-size: 16px; letter-spacing: 1px;
                font-weight: 100;
            }
    
            // For the tabs that hold the 3 types of Code (HTML, TS and API's 'md'):
            .vscode-style {
                background: var(--body-color);
                color: var(--body-main-bg-color);
                font-size: 13px;
                
                padding: 1em;
                margin-bottom: 0;
                overflow: auto;
                border-radius: .3em;
            }
        }
    }
}


@media(max-width: 600px) {

    ng3d-viewport-controler-menu.if-visualizer-3d-maximized {
        width: auto;
        min-width: fit-content;
        background-color: transparent;
    }

    section.component-menu-container {
        .component-menu-content {
            // justify-content: inherit;    // <= definetely, if aligned center, previously.

            div.nav {
                width: 100%;
                flex-direction: row !important;
                justify-content: space-between;
                padding-bottom: 1rem;
                button {
                    min-width: 55px; // <= 'HTML' content trigger should be the bigger...
                    margin-top: 0.25rem;

                    // Adjust settings 'fa-sliders' awefull FAwesome icon placement:
                    i.fa.fa-sliders {
                        position: relative;
                        &::before {
                            position: absolute;
                            top: 0;
                            left: 0;
                            margin-top: -0.815rem;
                            margin-left: -0.5rem;
                        }
                    }

                }
            }

            div.tab-content {
                width: 100%; height: 100% !important;
                padding-left: 0;
                padding-top: 0.25rem;
            }        
        }
    }
}
