<div class="component-wrapper">

    <main>

        <section class="monitor-screen-printer has-small-strong-shadow">
            <pre [innerHTML]="contentHTMLmsg | safeSanitized: 'html'"></pre>
            <!-- <pre [innerHTML]="contentHTMLmsg"></pre> -->
        </section>

        <section class="monitor-controls">

            <div class="left-buttons-wrapper d-flex">
                
                <div class='button-control power badge badge-none m-1'>
                    <div class="text-led-container">
                        <ng3d-led-light [ledColor]="colorOfPowerLED" size="small" class="pr-2"></ng3d-led-light>
                        <div class="button-control-text text-uppercase"><i class="fa fa-power-off" aria-hidden="true"></i></div>
                    </div>
                    <ng3d-switch-button  title="Turn ON/OFF monitor's power - will STOP the logging of any 3D Component's Events!"
                        [setBackgroundColor]="powerButtonBgrd"
                        [checked]=true
                        (changed)="onSwitchingMonitorPower($event)"
                    ></ng3d-switch-button>
                </div>
                
                <div class='button-control data badge badge-none m-1'>
                    <div class="text-led-container">
                        <ng3d-led-light [ledColor]="colorOfDataLED" size="small" class="pr-2"></ng3d-led-light>
                        <div class="button-control-text to-hide text-uppercase">Data</div>
                    </div>
                    <ng3d-switch-button  title="Turn ON/OFF the rendering of 3D object Logged Events into the screen."
                        [setBackgroundColor]="dataButtonBgrd"
                        [checked]="isDataBtnChecked"
                        [elemDisabled]="isDataBtnDisabled"
                        (changed)="onSwitchingMonitorData($event)"
                    ></ng3d-switch-button>
                </div>

            </div>

            <div class="sony-logo">SANYO</div>
            
            <div class="delete-content-wrapper button-control" title="Clear monitor's screen...">
                <div class="button-control-text to-hide-smaller badge badge-none text-uppercase">{{ loggEvtsCounterInitMsg }}</div>
                <div class="button-control delete mr-3" [class.empty-bin-disabled]="setEmptyBinDisabled" (click)="deleteDataContent(true)">
                    <i class="fa fa-trash"></i>
                </div>
            </div>

        </section>

    </main>
</div>
