// SONY brand similar font:
@import url('https://fonts.googleapis.com/css?family=Domine');

// Old fashion ZX Spectrum way, terminal lettering:
/* @import url('https://fonts.googleapis.com/css?family=Wallpoet'); */

@import '../../../scss/variables';
@import '../../../scss/mixins';

div.component-wrapper {
    
    position: relative;
    div.modal-layer {
        position: absolute;
        top: 0; left: 0;
        width: 100%; height: 100%;
        background-color: $primary-transparent-80percent;
    
        z-index: calc(#{$component-3d-canvas-z-index} + 2);
    }
    
    main {
        border-radius: 0.25rem;
        background-color: var(--body-color); /* black;*/
    
        width: 100%;
        max-width: 65rem; // <= impose it if you want to have '.modal-layer' behind - currently commented on HTML, Well, even if not...
        margin: 0 auto;
    
        z-index: calc(#{$component-3d-canvas-z-index} + 3);
    
        // Will have absolute positioning elements inside:
        position: relative;

        @include monitor-screen-printer;

        @include monitor-control-buttons-bar;

    }
    
}

/* ============================= // ============================= */

@media(max-width: 600px) {
    section.monitor-screen-printer {    
        pre {
            max-height: max-content;
            height: $pre-height;
        }
    }

    section.monitor-controls {
        // .sony-logo { display: none; }
        div.button-control-text.to-hide { display: none; }
    }
}

@media(max-width: 450px) {
    section.monitor-controls {
        div.sony-logo { display: none; }
        // .button-control-text { display: none; }
    }
}

@media(max-width: 319px) {
    section.monitor-controls {
        div.button-control-text.to-hide-smaller { display: none; }
    }
}
