@import '../../../assets/scss/variables';

section.default-content-page {
    background: var(--body-color);
    color: var(--body-main-bg-color);
    padding: $general-padding;
    // height: 100%;
    height: calc(100vh - calc(2 * #{$general-padding}));
    overflow: auto;

    .content-container {

        .header-section {
            margin-top: calc(3 * #{$general-padding});
            margin-left: 19vh;    
        }
        // .body-section {

        // }
    }
}
