<section class="default-content-page">
    <div class="content-container">

        <div class="header-section">

            <h2 class="text-center">HTML Ipsum Presents!</h2>

            <p><strong>Pellentesque habitant morbi tristique</strong>
                senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante.
                Donec eu libero sit amet quam egestas semper. <em>Aenean ultricies mi vitae est.</em> Mauris placerat eleifend leo.
                Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, <code>commodo vitae</code>, ornare sit amet, wisi.
                Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui.
                <a href="#">Donec non enim</a> in turpis pulvinar facilisis. Ut felis.
            </p>

        </div>

        <h3 class="mt-4">Header Level 3</h3>
        <ol>
            <li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
            <li>Aliquam tincidunt mauris eu risus.</li>
        </ol>

        <blockquote>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus magna.</p>
            <footer>—Númenor, in "<cite>sweeter burned verse</cite>"</footer>
        </blockquote>

        <h4 class="mt-3">Header Level 4</h4>
        <ul>
            <li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
            <li>Aliquam tincidunt mauris eu risus.</li>
        </ul>
        <pre style="color: var(--secondary); white-space: pre-wrap;">
            Pardon Concerning Hobbits rune goblins? Twitching figure including rightful Thorin's level! Worth tubers threats Hornburg deadliest?
            Unfold thumping shh wants Homely!
            Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante.
        </pre>

        <h2 class="text-center mt-5">Header Level 2</h2>
        <p class="text-center text-uppercase">
            "<i><small>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</small></i>"
        </p>
        <p>
            Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante.
            Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.
        </p>

        <dl>
            <dt>Definition list</dt>
            <dd>Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                commodo consequat.
            </dd>
        </dl>
        <dl>
            <dt>Lorem ipsum dolor sit amet</dt>
            <dd>Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                commodo consequat.
            </dd>
        </dl>

        <hr>

        <dl>
            <dt>Abandon</dt>
            <dd>Tact flies disturber thinking hospitality Elros act vest handy ranks.</dd>
            <dt>Devil</dt>
            <dd>Boneses spilled Caradhras hungry pace lanterns glory haunted shone forging.</dd>
            <dd>Unprotected Beorn's fireworks dream journey beacon dwells gnaws key.</dd>
            <dt>Happened</dt>
            <dd>Known wanna fifth Bill hell knew she scale.</dd>
            <dd>Missing vanish taken colleague sway voice tricks 13 Grimbold.</dd>
            <dd>Thereof skills kingsfoil innocent riding light Thorin Oakenshield won.</dd>
        </dl>

        <hr>

        <h3 class="text-center text-uppercase">
            Raw <b>pure HTML5</b> kitchen <small>(no Bootstrap used!)</small>
        </h3>

        <form class="text-center">
            <fieldset>

                <legend>Ordinary <code>input</code> types</legend>

                <div>
                    <label>Text</label>
                    <input type="text">
                </div>
                <div>
                    <label>Email</label>
                    <input type="email">
                </div>
                <div>
                    <label>Password</label>
                    <input type="password">
                </div>
                <div>
                    <label>Url</label>
                    <input type="url">
                </div>
                <div>
                    <label>Number</label>
                    <input type="number">
                </div>
                <div>
                    <label>Tel</label>
                    <input type="tel">
                </div>
                <div>
                    <label>Search</label>
                    <input type="search">
                </div>
                <div>
                    <label>Time</label>
                    <input type="time">
                </div>
                <div>
                    <label>Date</label>
                    <input type="date">
                </div>
                <div>
                    <label>Datetime-local</label>
                    <input type="datetime-local">
                </div>
                <div>
                    <label>Week</label>
                    <input type="week">
                </div>
                <div>
                    <label>Textarea</label>
                    <textarea></textarea>
                </div>
            </fieldset>

            <fieldset>
                <legend>Not so known <code>input</code> <em>types</em></legend>
                <div>
                    <label>Month</label>
                    <input type="month">
                </div>
                <div>
                    <label><input type="checkbox" name="checkbox">sharp decided</label>
                </div>
                <div>
                    <label>Color</label>
                    <input type="color">
                </div>
                <div>
                    <label>File</label>
                    <input type="file">
                </div>
                <div>
                    <label>Hidden</label>
                    <input type="hidden">
                </div>
                <div>
                    <label>Image</label>
                    <input type="image">
                </div>
                <div>
                    <label>bags moment's darkest hastens highest spot</label>
                    <label><input type="radio" name="radio">sakes is</label>
                    <label><input type="radio" name="radio">tomb vines</label>
                    <label><input type="radio" name="radio">tricksy plain</label>
                </div>
                <div>
                    <label>Range</label>
                    <input type="range">
                </div>

                <div>
                    <input type="button" value="Input button">
                    <input type="reset" value="Input reset">
                </div>
                <div>
                    <input type="submit" value="Input of type 'submit'">
                </div>
                <button>stand alone button of NO ype</button>
                
                <div>
                    <label>Select</label>
                    <select>
                        <optgroup label="dragon's poring squash">
                            <option>ending</option>
                            <option>always</option>
                            <option>spears</option>
                        </optgroup>
                        <optgroup label="suffer night's pain">
                            <option>diamond</option>
                            <option>unprotected</option>
                            <option>consider</option>
                        </optgroup>
                    </select>
                </div>
            </fieldset>
        </form>

        <nav>
            <ol>
                <li><a href="#nowhere" title="Lorum ipsum dolor sit amet">Lorem</a></li>
                <li><a href="#nowhere" title="Aliquam tincidunt mauris eu risus">Aliquam</a></li>
                <li><a href="#nowhere" title="Morbi in sem quis dui placerat ornare">Morbi</a></li>
                <li><a href="#nowhere" title="Praesent dapibus, neque id cursus faucibus">Praesent</a></li>
                <li><a href="#nowhere" title="Pellentesque fermentum dolor">Pellentesque</a></li>
            </ol>
        </nav>


    </div>
</section>