<main *ngIf="cameraParams">

    <section *ngIf="cameraParams?.movements" class="camera framed-border outline-shadow horizontal-spread">

        <div class='look-at-switch-container d-flex NOT-badge badge-default mr-3'>
            <div class="switch-text text-nowrap">Set focus direction</div>
            <ng3d-switch-button title="Set dynamic Camera focus direction, with Translation movements..."
                [checked]="isLookingAtCenter"
                [enabledText]="labelLookAtCenter"
                [disabledText]="labelNoLookChanges"
                (changed)="sendCameraMoveParam.emit( {param:'lookAtCenter', value: $event} )"
            ></ng3d-switch-button>
        </div>

        <div class="rotation-axis-container d-flex">
            <div class="axis-text text-nowrap">Set rotation axis to</div>
            <select name="rotAxis" class="ml-2 px-2 font-lato" (change)="rotAxisChg($event)">
                <option value="x" class='text-danger' [selected]="currentAxisUp === 'x'">X axis</option>
                <option value="y" class='text-success' [selected]="currentAxisUp === 'y'">Y axis</option>
                <option value="z" class='text-primary' [selected]="currentAxisUp === 'z'">Z axis</option>
            </select>
        </div>

    </section>

    <section *ngIf="cameraParams?.position" class="camera framed-border outline-shadow">

        <app-settings-move-card [movementTypeTemplate]="'position'"
            [obj3Dtype]="{ param: 'camera', idx: 0 }"
            [obj3Dparams]="cameraParams"
            [obj3DparamsUpdatedPos]="positionUpdated"

            (sendObj3DCoord)="sendCameraNewCoord.emit($event)"
            (sendObj3DMoveParam)="sendCameraMoveParam.emit($event)"

            (resetToInitValues)="resetToInitValues.emit($event)"
        ></app-settings-move-card>
        
    </section>

    <section *ngIf="cameraParams?.rotation" class="camera framed-border outline-shadow">

        <app-settings-move-card  [movementTypeTemplate]="'rotation'" [perspectiveCameraRotAxis]="currentAxisUp"
            [obj3Dtype]="{ param: 'camera', idx: 0 }"
            [obj3Dparams]="cameraParams"

            (sendObj3DCoord)="sendCameraNewRotationCoord.emit($event)"
            (sendObj3DMoveParam)="sendCameraMoveParam.emit($event)"

            (resetToInitValues)="resetToInitValues.emit($event)"
        ></app-settings-move-card>
        
    </section>

    <section *ngIf="cameraParams?.frustum as frustum" class="camera framed-border outline-shadow">

        <button class="btn btn-sm btn-outline-danger" (click)="resetStage('camera')" title="Got lost...? Reset Stage to init values!">
            <i class="fa fa-refresh" aria-hidden="true"></i>
        </button>
    
        <h5 class="title text-truncate width-88">{{ cameraParams.name }} frustum</h5>

        <ng3d-input-block
            inputLabel="FOV&nbsp;&nbsp;&nbsp;"
            [initValue]="frustum.fov"
            (sendInputBack)="sendCameraNewFOV.emit($event)"
        ></ng3d-input-block>
        
        <ng3d-input-block
            inputLabel="NEAR"
            [initValue]="frustum.near"
            (sendInputBack)="sendCameraNewNEAR.emit($event)"
        ></ng3d-input-block>
        
        <ng3d-input-block
            inputLabel="FAR&nbsp;&nbsp;&nbsp;"
            [initValue]="frustum.far"
            (sendInputBack)="sendCameraNewFAR.emit($event)"
        ></ng3d-input-block>

    </section>
</main>