// FontFamily for general Use:
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');
// FontFamily for branding awereness - App branding and MAIN "points" of styling - like each 3D Component name and tuning (setings):
@import url('https://fonts.googleapis.com/css2?family=Racing+Sans+One&display=swap');
// FontFamily for Code content printing (@ 'src\app\3d-component-menu\component-menu.component.html'), particularly on @ 'src\assets\css\prism-okaidia.css':
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@200;300;600;900&display=swap');

// Wanna use them dynamically...?
.font-lato { font-family: "Lato", Calibri, Arial, sans-serif; letter-spacing: normal; font-weight: 400; }
.font-ng3d { font-family: 'Racing Sans One', cursive;         letter-spacing: 1px;    font-weight: 400; }
.font-code { font-family: 'Source Code Pro', monospace;       letter-spacing: normal; font-weight: 600; }

// =======================================================

@import 'assets/scss/variables';
@import 'assets/scss/bootstrap-custom';
@import 'assets/scss/utilities';

html, body {
    height: 100vh;
    // height: 100%;
    overflow-x: hidden;
    // overflow-y: hidden; // BE CAREFUL! Though pretty handy - you'll NEVER EVER see a vertical scrollbar - could hide BAD calculations...

    font-family: "Lato", Calibri, Arial, sans-serif;
	font-weight: 300;

    line-height: 1.625;
    font-size: 100%;

    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;

    padding: 0;
    margin: 0;
}

body {
	background: var(--body-main-bg-color);
	color: var(--body-color);
}

@import 'assets/scss/mixins';
// Custom toolbars (see mixins):
@include scrollbars(14px, $secondary);