@import '../../../assets/scss/variables';

section.settings-container {
    height: 100%;
    
    div.settings-content {
        height: 100%;

        ul.nav {
            li {
                a {
                    color: $secondary;
                    &.active {
                        color: $primary;
                    }
                }
            }
        }

        div.tab-content {
            height: calc(100% - 44px);  // <= taking the 'ul.nav' tab headers off.

            div.tab-pane {
                height: 100%;

                &#monitor,
                &#stageParams {
                    font-family: 'Source Code Pro', monospace;
                    font-weight: 600;
                    letter-spacing: normal;
                }
        
                // For the tabs that hold the 'Params' init settings, on 'xxxxx--demo.stage-params', TS file per DEMO:
                .vscode-style {
                    background: var(--body-color);
                    color: var(--body-main-bg-color);
                    font-size: 13px;
                    
                    padding: 1em;
                    margin-bottom: 0;
                    overflow: auto;
                    border-radius: .3em;
                }
            }
        }
    }
}
