<section class="settings-container">

    <div class="settings-content">

        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="monitor-tab" data-toggle="tab" href="#monitor" role="tab" aria-controls="monitor" aria-selected="true" title="Stage Monitor's Debug"><i class="fa fa-desktop" aria-hidden="true"></i></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="stageParams-tab" data-toggle="tab" href="#stageParams" role="tab" aria-controls="stageParams" aria-selected="false" title="Initial Params for Stage set up"><i class="fa fa-magic" aria-hidden="true"></i></a>
            </li>
            <li *ngIf="stageCamera" class="nav-item">
                <a class="nav-link" id="camera-tab" data-toggle="tab" href="#camera" role="tab" aria-controls="camera" aria-selected="false" title="Stage Camera"><i class="fa fa-video-camera" aria-hidden="true"></i></a>
            </li>
            <li *ngIf="stageLights" class="nav-item">
                <a class="nav-link" id="pointsOfLight-tab" data-toggle="tab" href="#pointsOfLight" role="tab" aria-controls="pointsOfLight" aria-selected="false" title="Stage Points of Light"><i class="fa fa-lightbulb-o" aria-hidden="true"></i></a>
            </li>
            <li *ngIf="stageActor3D" class="nav-item">
                <a class="nav-link" id="actors3D-tab" data-toggle="tab" href="#actors3D" role="tab" aria-controls="actors3D" aria-selected="false" title="Stage Main 3D Actors (objects)"><i class="fa fa-code" aria-hidden="true"></i></a>
            </li>
        </ul>

        <div class="tab-content">

            <div class="tab-pane fade show active" id="monitor" role="tabpanel" aria-labelledby="monitor-tab">
                <!-- <ng3d-monitor-debug [goToTopPosition]="monitorMarginTop" [dataToPrint$]="loggEvent$"></ng3d-monitor-debug> -->
                <!-- on upper 1st thought => @Input() is the received Observable => missing msgs -->
                
                <!-- 1st try => no @Input() => missing msgs -->
                <!-- <ng3d-monitor-debug [goToTopPosition]="monitorMarginTop"></ng3d-monitor-debug> -->

                <!-- 2nd try => @Input() is a scalar => missing msgs -->
                <!-- <ng3d-monitor-debug [goToTopPosition]="monitorMarginTop" [dataToPrint]="loggEvent"></ng3d-monitor-debug> -->

                <!-- The way it works: @Input() is a PIPE async of an Observable -->

                <ng3d-monitor-debug [goToTopPosition]="monitorMarginTop" [dataToPrint]="(loggEvent$ | async)" (angularLoaded)="angularLoaded.emit();"></ng3d-monitor-debug>

            </div>
            
            <div class="tab-pane fade" id="stageParams" role="tabpanel" aria-labelledby="stageParams-tab">
                <pre class="vscode-style prism-style"><code class="language-javascript" [innerHTML]="stageParamsFile | safeSanitized: 'html'"></code></pre>
            </div>

            <div *ngIf="stageCamera" class="tab-pane fade" id="camera" role="tabpanel" aria-labelledby="camera-tab">
                <app-perspective-camera [demoName]="demoName" [cameraParams]="stageCamera"
                    (sendCameraNewCoord)="sendCameraNewCoord.emit($event)"
                    (sendCameraNewRotationCoord)="sendCameraNewRotationCoord.emit($event)"
                    (sendCameraMoveParam)="sendCameraMoveParam.emit($event)"
                    (sendCameraNewFOV)="sendCameraNewFOV.emit($event)"
                    (sendCameraNewNEAR)="sendCameraNewNEAR.emit($event)"
                    (sendCameraNewFAR)="sendCameraNewFAR.emit($event)"

                    [positionUpdated]="cameraPositionChanged"
                    [rotationUpdated]="cameraRotationChanged"
                    
                    (resetToInitValues)="resetToInitValues.emit($event)"
                ></app-perspective-camera>
            </div>
            
            <div *ngIf="stageLights" class="tab-pane fade" id="pointsOfLight" role="tabpanel" aria-labelledby="pointsOfLight-tab">
                <app-point-of-light [demoName]="demoName" [pointsOfLightParams]="stageLights" [createdPointOfLight]="addedNewStageLight"
                    (sendPLNewTranslatePosCoord)="sendPLNewTranslatePosCoord.emit($event)"
                    (sendPLNewColor)="sendPLNewColor.emit($event)"
                    (sendPLNewIntensity)="sendPLNewIntensity.emit($event)"
                    (sendPLNewDistance)="sendPLNewDistance.emit($event)"

                    (addNewPointOfLight)="addNewPointOfLight.emit($event)"
                    (removePointOfLight)="removePointOfLight.emit($event)"

                    (resetToInitValues)="resetToInitValues.emit($event)"
                ></app-point-of-light>
            </div>
            
            <div *ngIf="stageActor3D" class="tab-pane fade" id="actors3D" role="tabpanel" aria-labelledby="actors3D-tab">
                <app-actors-3d [demoName]="demoName" [actor3DParams]="stageActor3D"
                    (sendActorNewCoord)="sendActorNewCoord.emit($event)"
                    (sendActorNewRotationCoord)="sendActorNewRotationCoord.emit($event)"
                    
                    (resetToInitValues)="resetToInitValues.emit($event)"
                ></app-actors-3d>
            </div>
        </div>

    </div>
</section>